* {
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
}
.main {

  height: 100vh;
  width: 100vw;
  position: relative;
  padding-left: 200px;

}
.d1 {
  position: absolute;

  background-size: 2700px 1500px;
  background-image: url("/assets/logo.PNG");

  height: 30vh;
  width: 15vw;

  background-position: 0 50%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;


}
.d2 {
  position: absolute;
  background-image: url(logo.PNG);
  background-size: 2700px 1500px;

  height: 50vh;
  width: 25vw;

  background-position: -10vw 50%;
  left: 10vw;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s 2;
  animation-delay: 4s;
}
.d3 {
  position: absolute;
  background-image: url(logo.PNG);
  background-size: cover;
  overflow: hidden;

  height: 80vh;
  width: 25vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s 2;
  animation-delay: 4s;
}


@keyframes dd1 {
  0% {
  }
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  0% {
  }
  50% {
    background-position: Calc(0px - 40px) 50%;
  }
}
@keyframes dd2 {
  0% {
  }
  50% {
    background-position: Calc(-10px - 40px) 50%;
  }
}
@keyframes dd3 {
  0% {
  }
  50% {
    background-position: Calc(-35px - 40px) 50%;
  }
}
@keyframes dd4 {
  0% {
  }
  50% {
    background-position: Calc(-70px - 40px) 50%;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  color: whitesmoke;
}




sub {
  font-size: 36px;
  animation: flash 2s infinite;
}

a {
  font-size: 36px;
  animation: flash 2s infinite;
  text-decoration: none;
  color: white;
}
