// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:black;
  background-color: white;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:black;
  background-color: white;

}

.card-product .card-product-infos {
  padding: 16px;
  background-color: white;
}

.btn {

  display: flex;
  justify-content: center;
  background-color: #2f2f2f;
}

.lista {

  display: flex;
  justify-content: center;
}
