<div class="banner" style="background-image: url(../assets/logo.PNG);">
  <div class="container">
    <h1>Eletro Móveis <strong>Seu sonho</strong> se torna <strong>real</strong>!</h1>
    <a class="btn btn-flat" href="#">Ofertas</a>
  </div>
</div>
